@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: Raleway, arial, helvetica;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}
body .entrance {
  width: 80%;
  height: auto;
  margin: 100px auto;
  padding: 100px;
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px #000);
}
body .entrance .userinfo_username,
body .entrance .userinfo_room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}
body .entrance label {
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0;
}
body .entrance input {
  border-radius: 10px;
  padding: 10px 0;
  background-color: #e3e3e3;
  text-align: center;
}
body .entrance input::placeholder {
  color: white;
  opacity: 1;
}
body .entrance select {
  appearance: none;
  width: 100%;
  border: border;
  border-radius: 10px;
  background-color: rgb(227, 227, 227);
  padding: 10px 0;
  text-align: center;
  color: white;
  opacity: 1;
  cursor: inherit;
  line-height: inherit;
}
body .entrance button {
  margin-top: 20px;
  padding: 12px 1rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}